<!DOCTYPE html>
<html dir="ltr" lang="en">
{% if app.user%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Rapports</title>
    <!-- This page plugin CSS -->
    <link href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include "include/header.html.twig" %}

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include "include/sidebar.html.twig" %}

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title"> Rapports </h4>
                    </div>



                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-9 col-md-8">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">Dernières Recherches </h4>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th scope="col">Clé</th>
                                          <th scope="col">Résultats</th>
                                          <th scope="col">Coups</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>lunettes</td>
                                          <td>5</td>
                                          <td>2</td>
                                      </tr>

                                  </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <div class="card ">
                        <div class="card-body">
                            <h4 class="card-title"> Filtre </h4>
                        </div>
                        <div class="card-body">

                            <form class="form-horizontal">

                                    <div class="form-group ">
                                      <label for="report-type">Type de rapport</label>
                                      <select name="type" id="report-type" class="form-control">
                                        <option value="coupons_report" selected="">
                                            Rapport de coupons
                                        </option>
                                        <option value="customers_order_report">
                                          Rapport de commande
                                        </option>
                                        <option value="products_purchase_report">
                                          Rapport d'achat de produit
                                        </option>
                                        <option value="products_stock_report">
                                          Rapprot vu de produit
                                        </option>
                                        <option value="products_view_report">
                                          Rapport des ventes
                                        </option>
                                        <option value="sales_report">
                                          Rapport de recherche
                                        </option>

                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Statut de la commande</label>

                                        <select name="status" id="status" class="form-control">
                                          <option value="">Choisir</option>

                                          <option value="canceled">
                                            Annulée
                                          </option>
                                            <option value="completed">
                                              Terminée
                                            </option>
                                            <option value="on_hold">
                                              En attente
                                            </option>

                                            <option value="pending_payment">
                                              En attente de paiement
                                            </option>
                                            <option value="processing">
                                            En traitement
                                            </option>

                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="group">Groupé Par</label>

                                          <select name="group" id="group" class="form-control">
                                            <option value="">Choisir</option>

                                            <option value="days">
                                                Jours
                                            </option>
                                                    <option value="weeks">
                                                Semaines
                                            </option>
                                                    <option value="months">
                                                Mois
                                            </option>
                                                    <option value="years">
                                                Années
                                            </option>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="customer-name">Nom Client</label>
                                            <input type="text" name="customer_name" class="form-control" id="customer-name" value="">
                                          </div>
                                          <button type="submit" class="btn btn-default align-right" data-loading="">
                                              Filtrer
                                            </button>
                          </form>
                              </div>
                    </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="../dist/js/app.min.js"></script>
    <script src="../dist/js/app.init.js"></script>
    <script src="../dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="../assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="../dist/js/pages/datatable/datatable-basic.init.js"></script>
</body>

{%else%}
{{render(path('security_login')) }}
{%endif%}
</html>